@import "tailwindcss";

@theme inline {
  --color-primary: #E58411;
  --color-secondary: #1E1E1E;
  --color-secondary-bg: #F7F7F7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  color: #1E1E1E;
}
