@import "tailwindcss";

@theme inline {
  --color-primary: #E58411;
  --color-secondary: #1E1E1E;
  --color-secondary-bg: #FAFAFA;
  --font-heading: 'Inter', system-ui, -apple-system, sans-serif;
  --font-body: 'Inter', system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  margin: 0;
  color: #1E1E1E;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}